html{
    box-sizing: border-box;
    width:100%;height:100%;
    margin:0;padding:0;
    font-family: Lato, sans-serif;
  }
  body{
    width:100%;height:100%;margin:0;padding:0;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }
  header ul, menu, dir {
      margin-block-end: 0;
      margin-block-start: 0;
      padding-inline-start: 0;
      -webkit-padding-start: 0;
  }
  a{
    text-decoration:none;
    color:rgba(33, 33, 33, 1);
  }
  
  /* 
    LAYOUT
  /*-----------------------------------------------------*/
  :root{
      --maxSiteWidth:1080px;
  }
  main{
    margin-top: 80px;
    padding: 1rem 0;
  }
  header {
      display: flex;
      flex-flow: row nowrap;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255,255,255,1);
      height: 80px;
      border-bottom: rgba(44,44,44,.6) 1px solid;
      margin: 0 auto 0 auto;
      z-index: 2;
  }
  .logo {
      height:80px;
      flex: 0 0 200px;
      font-size:42px;display:block;text-align:center;align-items:center;justify-content:center;margin:14px auto;
  }