@import "./reset";
@import "./helper";
@import "./component/navbar";
@import "./component/button";

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

.middle {
    display: flex;
    padding: 0 1rem;

    #searchText {
        flex-grow: 1;
    }
}

.mContainer {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    .movie-item {
        width: 33.33%;
        padding: 1rem 1.5rem;
        position: relative;

        @media only screen and (min-width: 1366px) {
            width: 20%;
        }

        .poster {
            width: 100%;
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
        }
    
        .details {
            display: flex;
            justify-content: space-between;

            .release_date {
                width: auto;
                padding-left: 0.5rem;
            }
        }

        .add-movie, .remove-movie {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            z-index: 1;
            background-color:black;
            color: white;
            padding: 0.5rem 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }

        &:hover {

            .add-movie, .remove-movie {
                opacity: 1;
            }

            .poster {
                opacity: 0.3;
            }        
        }
    }
}

footer {
    border-top: rgba(44, 44, 44, 0.6) 1px solid;
    padding: 1rem 0;

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0.1rem 0;

        li {
            display: inline;
            padding: 0 1rem;
        }
    }
}