html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

header ul, menu, dir {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  -webkit-padding-start: 0; }

a {
  text-decoration: none;
  color: #212121; }

/* 
    LAYOUT
  /*-----------------------------------------------------*/
:root {
  --maxSiteWidth:1080px; }

main {
  margin-top: 80px;
  padding: 1rem 0; }

header {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  height: 80px;
  border-bottom: rgba(44, 44, 44, 0.6) 1px solid;
  margin: 0 auto 0 auto;
  z-index: 2; }

.logo {
  height: 80px;
  flex: 0 0 200px;
  font-size: 42px;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 14px auto; }

.ml-1 {
  margin-left: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.hide {
  display: none !important; }

.text-center {
  text-align: center; }

.empty {
  width: 100%;
  padding: 20vh; }

/*  
   MAIN MENU MOBILE FIRST
/*-------------------------------------------------------*/
nav {
  flex: 1 auto;
  padding: 0 1rem; }

.mainMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 80px auto 0 auto;
  height: 90%;
  /**hack for opera mini**/
  height: calc(100% - 79px);
  width: 100%;
  flex-flow: column nowrap;
  align-content: stretch;
  display: none; }
  .mainMenu a {
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    display: flex;
    background: transparent; }
  .mainMenu > li {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    border-bottom: 1px dotted rgba(22, 22, 22, 0.3);
    background: white; }

/*  
  MAIN MENU TOGGLE BUTTON
/*-----------------------------------------------------*/
#show-menu-input-checkbox {
  display: none; }
  #show-menu-input-checkbox:checked ~ .mainMenu {
    display: flex; }

#main-menu-toggler {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center; }

#main-menu-toggler-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #161616;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px; }
  #main-menu-toggler-icon:after, #main-menu-toggler-icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px; }
  #main-menu-toggler-icon:after {
    top: 9px;
    width: 100%;
    height: 5px;
    background-color: #161616;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  #main-menu-toggler-icon:before {
    width: 100%;
    height: 5px;
    background-color: #161616;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }

#show-menu-input-checkbox:checked ~ #main-menu-toggler > #main-menu-toggler-icon {
  background-color: transparent; }
  #show-menu-input-checkbox:checked ~ #main-menu-toggler > #main-menu-toggler-icon:before {
    transform: rotate(45deg) translate(5px, 5px); }
  #show-menu-input-checkbox:checked ~ #main-menu-toggler > #main-menu-toggler-icon:after {
    transform: rotate(-45deg) translate(7px, -8px); }

/*
  MAIN MENU ON WIDE SCREENS
/*----------------------------------------------------------*/
@media only screen and (min-width: 1366px) {
  #main-menu-toggler {
    display: none; }
  .mainMenu {
    position: initial;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    justify-content: flex-end;
    height: 80px;
    margin-top: 0; }
    .mainMenu > li {
      flex: 0 0 auto;
      border-bottom: none;
      background: transparent;
      align-items: initial; }
    .mainMenu a {
      font-size: 22px;
      width: auto;
      justify-content: flex-end;
      padding-left: 16px; } }

.button {
  background-color: rgba(123, 137, 220, 0.8);
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none; }
  .button.active {
    background-color: #3f51b5; }

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem; }

.middle {
  display: flex;
  padding: 0 1rem; }
  .middle #searchText {
    flex-grow: 1; }

.mContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap; }
  .mContainer .movie-item {
    width: 33.33%;
    padding: 1rem 1.5rem;
    position: relative; }
    @media only screen and (min-width: 1366px) {
      .mContainer .movie-item {
        width: 20%; } }
    .mContainer .movie-item .poster {
      width: 100%;
      opacity: 1;
      transition: .5s ease;
      backface-visibility: hidden; }
    .mContainer .movie-item .details {
      display: flex;
      justify-content: space-between; }
      .mContainer .movie-item .details .release_date {
        width: auto;
        padding-left: 0.5rem; }
    .mContainer .movie-item .add-movie, .mContainer .movie-item .remove-movie {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      z-index: 1;
      background-color: black;
      color: white;
      padding: 0.5rem 1.5rem; }
      .mContainer .movie-item .add-movie:hover, .mContainer .movie-item .remove-movie:hover {
        cursor: pointer; }
    .mContainer .movie-item:hover .add-movie, .mContainer .movie-item:hover .remove-movie {
      opacity: 1; }
    .mContainer .movie-item:hover .poster {
      opacity: 0.3; }

footer {
  border-top: rgba(44, 44, 44, 0.6) 1px solid;
  padding: 1rem 0; }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0.1rem 0; }
    footer ul li {
      display: inline;
      padding: 0 1rem; }

