.button {
    background-color: rgba(123, 137, 220, 0.8);
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;

    &.active {
      background-color: #3f51b5
    }
}