/*  
   MAIN MENU MOBILE FIRST
/*-------------------------------------------------------*/
nav {
    flex: 1 auto;
    padding: 0 1rem;
}
  
.mainMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 80px auto 0 auto;
    height: 90%;
    /**hack for opera mini**/
    height: calc(100% - 79px);
    width: 100%;
    flex-flow: column nowrap;
    align-content: stretch;
    display: none;
    a {
      flex: 1;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 26px;
      display: flex;
      background: transparent;
    }
    > li {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      border-bottom: 1px dotted rgba(22, 22, 22, 0.3);
      background: rgba(255, 255, 255, 1);
    }
}

/*  
  MAIN MENU TOGGLE BUTTON
/*-----------------------------------------------------*/

#show-menu-input-checkbox {
    display: none;
    &:checked ~ .mainMenu {
      display: flex;
    }
  }
  
#main-menu-toggler {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#main-menu-toggler-icon {
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -9px;
    }
    &:after {
      top: 9px;
      width: 100%;
      height: 5px;
      background-color: rgba(22, 22, 22, 1);
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
    }
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgba(22, 22, 22, 1);
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
    &:before {
      width: 100%;
      height: 5px;
      background-color: rgba(22, 22, 22, 1);
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
    }
}
  
#show-menu-input-checkbox:checked ~ #main-menu-toggler > #main-menu-toggler-icon {
    background-color: transparent;
    &:before {
      transform: rotate(45deg) translate(5px, 5px);
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -8px);
    }
}

/*
  MAIN MENU ON WIDE SCREENS
/*----------------------------------------------------------*/
@media only screen and (min-width: 1366px) {
#main-menu-toggler{
    display:none;
}

.mainMenu {
    position: initial;
    display:flex;
    flex-flow:row nowrap;
    flex-direction: row;
    justify-content: flex-end;
    height:80px;
    margin-top:0;

    & > li {
        flex:0 0 auto;
        border-bottom:none;
        background:transparent;
        align-items:initial;
    }

    a {
        font-size:22px;
        width:auto;
        justify-content: flex-end;
        padding-left:16px;
    }
}
}